@model Request.Presenters.Dtos.IndexViewModel

@{
    ViewData["Title"] = "Requests Index";
}

@using Infrastructure.Services.Common;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@Html.Partial("_MenuPartial")

<section id="module-content">

    @*@await Component.InvokeAsync("Breadcrumb", new { controller = "Store" })*@

    <div id="search-criteria">
        <div>
            <h2>@Localizer["Product Search"]</h2>
        </div>
        <div>
            <form method="post" asp-controller="request" asp-action="index">
                <div>
                    <label asp-for="SearchCriteria.Name">@Localizer["Name"]</label>
                    <input asp-for="SearchCriteria.Name">
                </div>
                <div>
                    <label asp-for="SearchCriteria.StoreId">@Localizer["Store"]</label>
                    <select asp-for="SearchCriteria.StoreId" asp-items="Model.SearchCriteria.Stores"></select>
                </div>
                <div>
                    <label asp-for="SearchCriteria.CategoryId">@Localizer["Category"]</label>
                    <select asp-for="SearchCriteria.CategoryId" asp-items="Model.SearchCriteria.Categories"></select>
                </div>
                <div>
                    <label asp-for="SearchCriteria.ManufacturerId">@Localizer["Manufacturer"]</label>
                    <select asp-for="SearchCriteria.ManufacturerId" asp-items="Model.SearchCriteria.Manufacturers"></select>
                </div>
                <div>
                    <label asp-for="SearchCriteria.SupplierId">@Localizer["Supplier"]</label>
                    <select asp-for="SearchCriteria.SupplierId" asp-items="Model.SearchCriteria.Suppliers"></select>
                </div>
                <div>
                    <label asp-for="SearchCriteria.Description">@Localizer["Description"]</label>
                    <input asp-for="SearchCriteria.Description">
                </div>
                <div></div>
                <input type="submit" value="">
            </form>
        </div>
        <div id="search-criteria-actions">
            <a asp-controller="product" asp-action="index"><i class="fas fa-times"></i> @Localizer["Clear"]</a>
            <a href="#disabled" class="action-primary action-submit"><i class="fas fa-search"></i> @Localizer["Search"]</a>
        </div>
    </div>

    @if (Model.NewRequests.Any())
    {
        <div class="validation-summary-warnings">
            @Localizer["New requests"]
            <ul>
                @foreach (var newRequest in Model.NewRequests)
                {
                    <li><a asp-controller="request" asp-action="edit" asp-route-id="@newRequest.Id">@newRequest.CreatedOn</a></li>
                }
            </ul>
        </div>
        <div id="new-requests-modal" class="hidden">
            <form>
                <div>
                    <label for="new-requests-modal-select-request" class="label">Добави към заявка</label>
                    <select id="new-requests-modal-select-request" class="form-control">
                        <option value="0">@Localizer["Create new request"]</option>
                        @foreach (var newRequest in Model.NewRequests)
                        {
                            <option value="@newRequest.Id">@newRequest.CreatedOn</option>
                        }
                    </select>
                </div>
                <div>
                    <label for="new-requests-modal-select-store" class="label">Заяви за склад</label>
                    <select id="new-requests-modal-select-store" class="form-control">
                        @foreach (var store in Model.SearchCriteria.Stores.Where(x => x.Value != "0"))
                        {
                            <option value="@store.Value">@store.Text</option>
                        }
                    </select>
                </div>
                <div>
                    <input type="button" value="@Localizer["Add"]" id="new-requests-modal-add" class="btn-primary">
                </div>
            </form>
        </div>
    }

    <div id="search-result">
        <div>
            <h2>@Localizer["Products"]</h2>
        </div>
        <table id="search-result-table" class="no-dbclick">
            <thead>
                <tr>
                    <th><input type="checkbox" id="row-checkbox-all"></th>
                    <th>@Localizer["Picture"]</th>
                    <th>@Localizer["Name"]</th>
                    <th>@Localizer["Variant"]</th>
                    <th>@Localizer["Store"]</th>
                    <th>@Localizer["Quantity"]</th>
                    <th>@Localizer["Request quantity"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products.products)
                {
                    var variantId = product.Variants.First().Id;
                    var variantListItems = product.Variants.ToSelectList(x => x.Id.ToString(), x => x.Code, string.Empty, false);

                    var storeId = product.Variants.First(x => x.Id == variantId).Stocks.First().StoreId;
                    var storeListItems = product.Variants.First(x => x.Id == variantId).Stocks.ToSelectList(x => x.StoreId.ToString(), x => x.Store.Name, string.Empty, false);

                    <tr>
                        <td><input type="checkbox" data-store-id="@product.Id"></td>
                        <td>
                            @if (product.Pictures != null && product.Pictures.Any())
                            {
                                <img src="@Url.Action("Index", "ContentServer", new { id = product.Pictures.FirstOrDefault()?.Thumb.Guid, area = string.Empty })">
                            }
                        </td>
                        <td><a asp-controller="product" asp-action="edit" asp-route-id="@product.Id">@product.Name</a></td>
                        <td><select asp-for="@variantId" asp-items="variantListItems" class="request-variant-select"></select></td>
                        <td>
                            <select name="storeId" class="request-store-select">
                                @foreach (var stock in product.Variants.SelectMany(x => x.Stocks))
                                {
                                    var hidden = stock.VariantId == variantId ? string.Empty : "hidden";
                                    <option value="@stock.StoreId" class="@hidden" data-variant="@stock.VariantId" data-stock="@stock.Id" data-quantity="@stock.Quantity">@stock.Store.Name</option>
                                }
                            </select>
                        </td>
                        <td class="request-quantity-col">@(product.Variants.SelectMany(v => v.Stocks).First(x => x.StoreId == storeId).Quantity)</td>
                        <td><input type="number" min="0" class="request-quantity-input input-small"></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <div class="table-footer-wrapper">
                            <div>Показани @Model.Products.pageData.ResultsFrom до @Model.Products.pageData.ResultsTo от @Model.Products.pageData.TotalResults разултата</div>
                            <div>
                                @await Component.InvokeAsync("Pager", new { action = "index", pageData = Model.Products.pageData })
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div>
    </div>

    <div id="search-results-actions">
        @Html.AntiForgeryToken()
        <input type="button" value="Request" data-url="@Url.Action("Index")" id="request-create" class="btn-primary">
    </div>

</section>

@section scripts {
    <script src="~/js/request.js" asp-append-version="true"></script>
}