@model Administration.Presenters.Dtos.FooterActionsViewModel

<div>
    <ul>
        @if (Model.ShowEdit)
        {
            <li><a href="" class="btn-submit"><i class="fa fa-floppy-o" aria-hidden="true"></i><span>@Model.LocalizedEdit</span></a></li>
        }

        @if (Model.ShowReset)
        {
            <li><a href="" class="btn-reset"><i class="fa fa-eraser" aria-hidden="true"></i><span>@Model.LocalizedReset</span></a></li>
        }

        @if (Model.ShowDelete)
        {
            <li><a asp-controller="@Model.Controller" asp-action="@Model.DeleteAction" asp-route-id="@Model.Id" asp-route-param="@(Model.RouteParam > 0 ? Model.RouteParam.ToString() : "")" class="btn-delete"><i class="fa fa-times-circle" aria-hidden="true"></i><span>@Model.LocalizedDelete</span></a></li>
        }

        <li><a asp-controller="@Model.Controller" asp-action="@Model.Action"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i><span>@Model.LocalizedBack</span></a></li>
    </ul>
</div>