@using Microsoft.AspNetCore.Mvc.Localization
@using Administration.Bll

@inject IViewLocalizer Localizer
@inject IAuthorizationServices AuthorizationServices

@{
    var modulePrivileges = await AuthorizationServices.GetModulePrivileges();
}

<section id="module-menu">
    <strong>@Localizer["Actions"]</strong>
    <ul>
        <li><a asp-controller="product" asp-action="index">@Localizer["List"]</a></li>
        @if (modulePrivileges.ProductWrite)
        {
            <li><a asp-controller="product" asp-action="edit" asp-route-id="">@Localizer["Add product"]</a></li>
        }

        @if (modulePrivileges.CategoryRead)
        {
            <li><a asp-controller="product" asp-action="categories">@Localizer["List categories"]</a></li>
        }

        @if (modulePrivileges.CategoryWrite)
        {
            <li><a asp-controller="product" asp-action="editcategory">@Localizer["Add category"]</a></li>
        }

        @if (modulePrivileges.ProductImport)
        {
            <li><a asp-controller="product" asp-action="import" asp-route-id="">@Localizer["Import products"]</a></li>
        }

        <li><a asp-controller="product" asp-action="settings" asp-route-id="">@Localizer["Settings"]</a></li>
    </ul>
</section>