@model Product.Presenters.Dtos.EditViewModel
@{
    ViewData["Title"] = "Edit product";
}
@using Microsoft.AspNetCore.Mvc.Localization
@using Administration.Bll

@inject IViewLocalizer Localizer
@inject IAuthorizationServices AuthorizationServices

@{
    var modulePrivileges = await AuthorizationServices.GetModulePrivileges();
    var isReadOnly = !modulePrivileges.ProductWrite;
    var readOnlyClass = isReadOnly ? "readonly" : string.Empty;
    var readOnlyHiddenClass = isReadOnly ? "hidden" : string.Empty;
}

@Html.Partial("_MenuPartial")

<section id="module-content">

    @*@await Component.InvokeAsync("Breadcrumb", new { controller = "Product", Id = Model.Id })*@

    <ul class="tabs">
        <li class="active"><a asp-action="edit" asp-route-id="@Model.Id">@Localizer["Info"]</a></li>
        @if (Model.IsSaved)
        {
            <li><a asp-action="pictures" asp-route-id="@Model.Id">@Localizer["Pictures"] (@Model.Pictures.Count())</a></li>
            <li><a asp-action="priority" asp-route-id="@Model.Id">@Localizer["Priority"]</a></li>
            <li><a asp-action="history" asp-route-id="@Model.Id">@Localizer["History"]</a></li>
        }
    </ul>

    @Html.Partial("_StatusPartial")

    <div class="content-box">
        <form method="post" asp-controller="product" asp-action="edit" id="product-edit-form" class="main-form validate" enctype="multipart/form-data">
            <div class="form-split">
                <div class="padding-right">
                    <h3>@Localizer["Product description"]</h3>
                    @{ 
                        var hiddenInfoClass = Model.HideMainInfo ? "hidden" : string.Empty;
                    }

                    <label asp-for="Name">@Localizer["Name"]</label>
                    <input asp-for="Name" class="form-control @readOnlyClass" readonly="@isReadOnly">

                    <label asp-for="CategoryId" class="@hiddenInfoClass">@Localizer["Category"]</label>
                    <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control @readOnlyClass @hiddenInfoClass"></select>

                    <label asp-for="ManufacturerId" class="@hiddenInfoClass">@Localizer["Manufacturer"]</label>
                    <select asp-for="ManufacturerId" asp-items="Model.Manufacturers" class="form-control @readOnlyClass @hiddenInfoClass"></select>

                    <label asp-for="SupplierId" class="@hiddenInfoClass">@Localizer["Supplier"]</label>
                    <select asp-for="SupplierId" asp-items="Model.Suppliers" class="form-control @readOnlyClass @hiddenInfoClass"></select>

                    <label asp-for="Warranty" class="@hiddenInfoClass">@Localizer["Warranty"]</label>
                    <input asp-for="Warranty" class="form-control @readOnlyClass @hiddenInfoClass" readonly="@isReadOnly">

                    @*<div>
                            @if (Model.Pictures != null && Model.Pictures.Any())
                            {
                                Pictures:
                                <ul>
                                    @foreach (var picture in Model.Pictures)
                                    {
                                        <li><img src="@Url.Action("Index", "ContentServer", new { productId = Model.Id, path = picture.PathThumb, area = string.Empty })"></li>
                                    }
                                </ul>
                            }
                        </div>*@
                    <label for="file-select" class="@hiddenInfoClass">@Localizer["Upload picture"]</label>
                    <input type="file" name="FormFiles" class="form-control @readOnlyClass @hiddenInfoClass" id="file-select" readonly="@isReadOnly" multiple>

                    <label class="@hiddenInfoClass">@Localizer["Description"]</label>
                    <textarea asp-for="Description" class="form-control @readOnlyClass @hiddenInfoClass" readonly="@isReadOnly"></textarea>

                </div>
                <div>
                    <h3>@Localizer["Variants"] <a id="add-variant-btn" class="@readOnlyHiddenClass"><i class="far fa-plus-square"></i></a></h3>
                    <div class="variants-container">
                        @if (Model.IsSaved)
                        {
                            int i = -1;
                            foreach (var variant in Model.Variants)
                            {
                                //if (!Model.StorePrivileges.Where(x => x.Read).Select(x => x.StoreId).Intersect(variant.Stocks.Select(x => x.StoreId)).Any())
                                //{
                                //    continue;
                                //}

                                i++;
                                <div class="variant-data">
                                    <input type="hidden" name="Variants[0].Id" class="variant-id form-control" value="@variant.Id">
                                    <label for="variant-code-@i">@Localizer["Variant code"] <a class="variant-remove @readOnlyHiddenClass"><i class="far fa-minus-square"></i></a></label>
                                    <input type="text" name="Variants[0].Code" id="variant-code-@i" placeholder="Code" class="variant-code form-control @readOnlyClass" value="@variant.Code" data-val-required="@Localizer["Code is required"]" readonly="@isReadOnly">
                                    <div class="form-split">
                                        <div class="form-split-32">
                                            <label for="variant-price-net-@i">@Localizer["Price Net"]</label>
                                            <div class="form-split form-split-row">
                                                <select name="Variants[0].PriceNetType" class="variant-price-net-type form-control auto-width no-border-right @readOnlyClass" data-val-required="@Localizer["Price net currency is required"]">
                                                    @(variant.PriceNetType == Product.Entities.CurrencyTypeEnum.BGN ? Html.Raw($"<option value=\"{(int)Product.Entities.CurrencyTypeEnum.BGN}\" selected=\"selected\">BGN</option>") : Html.Raw($"<option value=\"{(int)Product.Entities.CurrencyTypeEnum.BGN}\">BGN</option>"))
                                                    @(variant.PriceNetType == Product.Entities.CurrencyTypeEnum.EUR ? Html.Raw($"<option value=\"{(int)Product.Entities.CurrencyTypeEnum.EUR}\" selected=\"selected\">EUR</option>") : Html.Raw($"<option value=\"{(int)Product.Entities.CurrencyTypeEnum.EUR}\">EUR</option>"))
                                                    @(variant.PriceNetType == Product.Entities.CurrencyTypeEnum.USD ? Html.Raw($"<option value=\"{(int)Product.Entities.CurrencyTypeEnum.USD}\" selected=\"selected\">USD</option>") : Html.Raw($"<option value=\"{(int)Product.Entities.CurrencyTypeEnum.USD}\">USD</option>"))
                                                </select>
                                                <input type="text" name="Variants[0].PriceNet" id="variant-price-net-0" class="variant-price-net form-control no-border-left @readOnlyClass" value="@variant.PriceNet" data-val-required="@Localizer["Price net is required"]" readonly="@isReadOnly">
                                            </div>
                                        </div>
                                        <div class="form-split-32">
                                            <label for="variant-price-net-vat-@i">@Localizer["Price Gross"]</label>
                                            <div class="form-split form-split-row">
                                                <select name="Variants[0].PriceGrossType" class="variant-price-gross-type form-control auto-width no-border-right readonly">
                                                    @(variant.PriceNetType == Product.Entities.CurrencyTypeEnum.BGN ? Html.Raw($"<option value=\"{(int)Product.Entities.CurrencyTypeEnum.BGN}\" selected=\"selected\">BGN</option>") : Html.Raw($"<option value=\"{(int)Product.Entities.CurrencyTypeEnum.BGN}\">BGN</option>"))
                                                    @(variant.PriceNetType == Product.Entities.CurrencyTypeEnum.EUR ? Html.Raw($"<option value=\"{(int)Product.Entities.CurrencyTypeEnum.EUR}\" selected=\"selected\">EUR</option>") : Html.Raw($"<option value=\"{(int)Product.Entities.CurrencyTypeEnum.EUR}\">EUR</option>"))
                                                    @(variant.PriceNetType == Product.Entities.CurrencyTypeEnum.USD ? Html.Raw($"<option value=\"{(int)Product.Entities.CurrencyTypeEnum.USD}\" selected=\"selected\">USD</option>") : Html.Raw($"<option value=\"{(int)Product.Entities.CurrencyTypeEnum.USD}\">USD</option>"))
                                                </select>
                                                <input type="text" id="variant-price-gross-0" class="variant-price-gross form-control no-border-left readonly" value="@variant.PriceGross" readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="form-split-32">
                                            <label for="variant-price-customer-@i">@Localizer["Price Customer"]</label>
                                            <div class="form-split form-split-row">
                                                <select name="Variants[0].PriceCustomerType" class="variant-price-customer-type form-control auto-width no-border-right @readOnlyClass" data-val-required="@Localizer["Price net currency is required"]">
                                                    @(variant.PriceCustomerType == Product.Entities.CurrencyTypeEnum.BGN ? Html.Raw($"<option value=\"{(int)Product.Entities.CurrencyTypeEnum.BGN}\" selected=\"selected\">BGN</option>") : Html.Raw($"<option value=\"{(int)Product.Entities.CurrencyTypeEnum.BGN}\">BGN</option>"))
                                                    @(variant.PriceCustomerType == Product.Entities.CurrencyTypeEnum.EUR ? Html.Raw($"<option value=\"{(int)Product.Entities.CurrencyTypeEnum.EUR}\" selected=\"selected\">EUR</option>") : Html.Raw($"<option value=\"{(int)Product.Entities.CurrencyTypeEnum.EUR}\">EUR</option>"))
                                                    @(variant.PriceCustomerType == Product.Entities.CurrencyTypeEnum.USD ? Html.Raw($"<option value=\"{(int)Product.Entities.CurrencyTypeEnum.USD}\" selected=\"selected\">USD</option>") : Html.Raw($"<option value=\"{(int)Product.Entities.CurrencyTypeEnum.USD}\">USD</option>"))
                                                </select>
                                                <input type="text" name="Variants[0].PriceCustomer" id="variant-price-customer-0" class="variant-price-customer form-control no-border-left @readOnlyClass" value="@variant.PriceCustomer" data-val-required="@Localizer["Price customer is required"]" readonly="@isReadOnly">
                                            </div>
                                        </div>
                                    </div>
                                    <b>@Localizer["Stores"]:</b>
                                    <ul>
                                        @foreach (var store in Model.Stores)
                                        {
                                            var storeColor = !string.IsNullOrEmpty(store.Color) ? store.Color : "none";
                                            var stock = variant.Stocks.FirstOrDefault(x => x.StoreId == store.Id);
                                            var lowQuantityAlertClass = stock?.Quantity < stock?.LowQuantity ? "form-control-alert" : string.Empty;
                                            <li class="space-bottom">
                                                <input type="checkbox" @(stock != null ? "checked=\"checked\"" : "") class="store-toggle no-margin @readOnlyClass" data-store-id="@store.Id"> <i class="fas fa-home" style="color: @storeColor"></i> <span class="bold" style="color: @storeColor">@store.Name</span>
                                                <div class="@(stock != null ? "" : "hidden") stock-data">
                                                    <input type="hidden" name="Variants[0].Stocks[0].Id" value="@(stock?.Id ?? 0)" class="stock-stock-id">
                                                    <input type="hidden" name="Variants[0].Stocks[0].StoreId" value="@store?.Id" class="stock-store-id">
                                                    <div class="form-split">
                                                        <div class="form-split-49">
                                                            <label for="variant-@i-stock-@store.Id-quantity">@Localizer["Quantity"]</label>
                                                            <div class="form-split">
                                                                <select name="Variants[0].Stocks[0].QuantityMeasureType" class="stock-quantity-measure-type form-control auto-width no-border-right @lowQuantityAlertClass @readOnlyClass" data-val-required="@Localizer["Quantity measure type is required"]" readonly="@isReadOnly" style="border-color: @storeColor">
                                                                    <!option value="@((int)Product.Entities.MeasureTypeEnum.Quantity)" @(stock?.QuantityMeasureType == Product.Entities.MeasureTypeEnum.Quantity ? "selected=selected" : "")>@Localizer["qty"]</!option>
                                                                    <!option value="@((int)Product.Entities.MeasureTypeEnum.Gram)" @(stock?.QuantityMeasureType == Product.Entities.MeasureTypeEnum.Gram ? "selected=selected" : "")>@Localizer["gram"]</!option>
                                                                    <!option value="@((int)Product.Entities.MeasureTypeEnum.Kilogram)" @(stock?.QuantityMeasureType == Product.Entities.MeasureTypeEnum.Kilogram ? "selected=selected" : "")>@Localizer["kilogram"]</!option>
                                                                    <!option value="@((int)Product.Entities.MeasureTypeEnum.Liter)" @(stock?.QuantityMeasureType == Product.Entities.MeasureTypeEnum.Liter ? "selected=selected" : "")>@Localizer["liter"]</!option>
                                                                    <!option value="@((int)Product.Entities.MeasureTypeEnum.Quadrate)" @(stock?.QuantityMeasureType == Product.Entities.MeasureTypeEnum.Quadrate ? "selected=selected" : "")>@Localizer["quadrate"]</!option>
                                                                    <!option value="@((int)Product.Entities.MeasureTypeEnum.Meter)" @(stock?.QuantityMeasureType == Product.Entities.MeasureTypeEnum.Meter ? "selected=selected" : "")>@Localizer["meter"]</!option>
                                                                </select>
                                                                <input type="number" name="Variants[0].Stocks[0].Quantity" id="variant-@i-stock-@store.Id-quantity" value="@stock?.Quantity" class="stock-quantity allow-zero-value form-control no-border-left @lowQuantityAlertClass @readOnlyClass" data-val-required="@Localizer["Quantity is required"]" readonly="@isReadOnly" style="border-color: @storeColor">
                                                            </div>
                                                        </div>
                                                        <div class="form-split-49">
                                                            <label for="variant-@i-stock-@store.Id-low-quantity">@Localizer["Low Quantity"]</label>
                                                            <div class="form-split">
                                                                <select name="Variants[0].Stocks[0].LowQuantityMeasureType" class="stock-low-quantity-measure-type form-control auto-width no-border-right @readOnlyClass" data-val-required="@Localizer["Low quantity measure type is required"]" readonly="@isReadOnly" style="border-color: @storeColor">
                                                                    <!option value="@((int)Product.Entities.MeasureTypeEnum.Quantity)" @(stock?.LowQuantityMeasureType == Product.Entities.MeasureTypeEnum.Quantity ? "selected=selected" : "")>@Localizer["qty"]</!option>
                                                                    <!option value="@((int)Product.Entities.MeasureTypeEnum.Gram)" @(stock?.LowQuantityMeasureType == Product.Entities.MeasureTypeEnum.Gram ? "selected=selected" : "")>@Localizer["gram"]</!option>
                                                                    <!option value="@((int)Product.Entities.MeasureTypeEnum.Kilogram)" @(stock?.LowQuantityMeasureType == Product.Entities.MeasureTypeEnum.Kilogram ? "selected=selected" : "")>@Localizer["kilogram"]</!option>
                                                                    <!option value="@((int)Product.Entities.MeasureTypeEnum.Liter)" @(stock?.LowQuantityMeasureType == Product.Entities.MeasureTypeEnum.Liter ? "selected=selected" : "")>@Localizer["liter"]</!option>
                                                                    <!option value="@((int)Product.Entities.MeasureTypeEnum.Quadrate)" @(stock?.LowQuantityMeasureType == Product.Entities.MeasureTypeEnum.Quadrate ? "selected=selected" : "")>@Localizer["quadrate"]</!option>
                                                                    <!option value="@((int)Product.Entities.MeasureTypeEnum.Meter)" @(stock?.LowQuantityMeasureType == Product.Entities.MeasureTypeEnum.Meter ? "selected=selected" : "")>@Localizer["meter"]</!option>
                                                                </select>
                                                                <input type="number" name="Variants[0].Stocks[0].LowQuantity" id="variant-@i-stock-@store.Id-low-quantity" value="@stock?.LowQuantity" class="stock-low-quantity allow-zero-value form-control no-border-left @readOnlyClass" data-val-required="@Localizer["Low quantity is required"]" readonly="@isReadOnly" style="border-color: @storeColor">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="variant-data">
                                <label for="variant-code-0">@Localizer["Variant code"]</label>
                                <input type="text" name="Variants[0].Code" id="variant-code-0" class="variant-code form-control" data-val-required="@Localizer["Code is required"]">

                                <div class="form-split">
                                    <div class="form-split-32">
                                        <label for="variant-price-net-0">@Localizer["Price Net"]</label>
                                        <div class="form-split form-split-row">
                                            <select name="Variants[0].PriceNetType" class="variant-price-net-type form-control auto-width no-border-right" data-val-required="@Localizer["Price net currency is required"]">
                                                <option value="@((int)Product.Entities.CurrencyTypeEnum.BGN)">BGN</option>
                                                <option value="@((int)Product.Entities.CurrencyTypeEnum.EUR)">EUR</option>
                                                <option value="@((int)Product.Entities.CurrencyTypeEnum.USD)">USD</option>
                                            </select>
                                            <input type="text" name="Variants[0].PriceNet" id="variant-price-net-0" class="variant-price-net form-control no-border-left" data-val-required="@Localizer["Price net is required"]">
                                        </div>
                                    </div>
                                    <div class="form-split-32">
                                        <label for="variant-price-net-vat-0">@Localizer["Price Gross"]</label>
                                        <div class="form-split form-split-row">
                                            <select name="Variants[0].PriceGrossType" class="variant-price-gross-type form-control auto-width no-border-right readonly">
                                                <option value="@((int)Product.Entities.CurrencyTypeEnum.BGN)">BGN</option>
                                                <option value="@((int)Product.Entities.CurrencyTypeEnum.EUR)">EUR</option>
                                                <option value="@((int)Product.Entities.CurrencyTypeEnum.USD)">USD</option>
                                            </select>
                                            <input type="text" id="variant-price-gross-0" class="variant-price-gross form-control no-border-left readonly" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="form-split-32">
                                        <label for="variant-price-customer-0">@Localizer["Price Customer"]</label>
                                        <div class="form-split form-split-row">
                                            <select name="Variants[0].PriceCustomerType" class="variant-price-customer-type form-control auto-width no-border-right" data-val-required="@Localizer["Price net currency is required"]">
                                                <option value="@((int)Product.Entities.CurrencyTypeEnum.BGN)">BGN</option>
                                                <option value="@((int)Product.Entities.CurrencyTypeEnum.EUR)">EUR</option>
                                                <option value="@((int)Product.Entities.CurrencyTypeEnum.USD)">USD</option>
                                            </select>
                                            <input type="text" name="Variants[0].PriceCustomer" id="variant-price-customer-0" class="variant-price-customer form-control no-border-left" data-val-required="@Localizer["Price customer is required"]">
                                        </div>
                                    </div>
                                </div>
                                <b>@Localizer["Stores"]:</b>
                                <ul>
                                    @foreach (var store in Model.Stores)
                                    {
                                        var storeColor = !string.IsNullOrEmpty(store.Color) ? store.Color : "none";
                                        <li class="space-bottom">
                                            <input type="checkbox" class="store-toggle no-margin" data-store-id="@store.Id"> <i class="fas fa-home" style="color: @storeColor"></i> <span class="bold" style="color: @storeColor">@store.Name</span>
                                            <div class="hidden stock-data">
                                                <input type="hidden" name="Variants[0].Stocks[0].StoreId" value="@store.Id" class="stock-store-id">
                                                <div class="form-split">
                                                    <div class="form-split-49">
                                                        <label for="variant-0-stock-@store.Id-quantity">@Localizer["Quantity"]</label>
                                                        <div class="form-split">
                                                            <select name="Variants[0].Stocks[0].QuantityMeasureType" class="stock-quantity-measure-type form-control auto-width no-border-right" data-val-required="@Localizer["Quantity measure type is required"]" style="border-color: @storeColor">
                                                                <option value="@((int)Product.Entities.MeasureTypeEnum.Quantity)">@Localizer["qty"]</option>
                                                                <option value="@((int)Product.Entities.MeasureTypeEnum.Gram)">@Localizer["gram"]</option>
                                                                <option value="@((int)Product.Entities.MeasureTypeEnum.Kilogram)">@Localizer["kilogram"]</option>
                                                                <option value="@((int)Product.Entities.MeasureTypeEnum.Liter)">@Localizer["liter"]</option>
                                                                <option value="@((int)Product.Entities.MeasureTypeEnum.Quadrate)">@Localizer["quadrate"]</option>
                                                                <option value="@((int)Product.Entities.MeasureTypeEnum.Meter)">@Localizer["meter"]</option>
                                                            </select>
                                                            <input type="number" name="Variants[0].Stocks[0].Quantity" id="variant-0-stock-@store.Id-quantity" class="stock-quantity allow-zero-value form-control no-border-left" data-val-required="@Localizer["Quantity is required"]" style="border-color: @storeColor">
                                                        </div>
                                                    </div>
                                                    <div class="form-split-49">
                                                        <label for="variant-0-stock-@store.Id-low-quantity">@Localizer["Low Quantity"]</label>
                                                        <div class="form-split">
                                                            <select name="Variants[0].Stocks[0].LowQuantityMeasureType" class="stock-low-quantity-measure-type form-control auto-width no-border-right" data-val-required="@Localizer["Low quantity measure type is required"]" style="border-color: @storeColor">
                                                                <option value="@((int)Product.Entities.MeasureTypeEnum.Quantity)">@Localizer["qty"]</option>
                                                                <option value="@((int)Product.Entities.MeasureTypeEnum.Gram)">@Localizer["gram"]</option>
                                                                <option value="@((int)Product.Entities.MeasureTypeEnum.Kilogram)">@Localizer["kilogram"]</option>
                                                                <option value="@((int)Product.Entities.MeasureTypeEnum.Liter)">@Localizer["liter"]</option>
                                                                <option value="@((int)Product.Entities.MeasureTypeEnum.Quadrate)">@Localizer["quadrate"]</option>
                                                                <option value="@((int)Product.Entities.MeasureTypeEnum.Meter)">@Localizer["meter"]</option>
                                                            </select>
                                                            <input type="number" name="Variants[0].Stocks[0].LowQuantity" id="variant-0-stock-@store.Id-low-quantity" class="stock-low-quantity allow-zero-value form-control no-border-left" data-val-required="@Localizer["Low Quantity is required"]" style="border-color: @storeColor">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>

                        }
                    </div>
                </div>
            </div>
            <input asp-for="Id">
            <input type="submit" class="hidden">
        </form>
    </div>

</section>

@section footer {
    @await Component.InvokeAsync("FooterActions", new { controller = "Product", id = Model.Id, showReset = false, showEdit = !isReadOnly, showDelete = modulePrivileges.ProductDelete })
}

@section scripts {
    <script src="~/js/product.js" asp-append-version="true"></script>
}