@model Request.Presenters.Widgets.PendingRequests.ViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="widget">
    <strong>@Localizer["Pending Requests"]</strong>
    <div>
        <table id="low-quantity-products-list" class="grid">
            <thead>
                <tr>
                    <th>@Localizer["Status"]</th>
                    <th>@Localizer["Created On"]</th>
                    <th>@Localizer["Products"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var request in Model.Requests)
                {
                    var alertClass = request.HasHightPriorityProduct ? "row-alert" : string.Empty;
                    <tr class="@alertClass">
                        <td>@request.Status</td>
                        <td><a asp-controller="request" asp-action="edit" asp-route-id="@request.Id">@request.CreatedOn</a></td>
                        <td>@request.ProductCount</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <div class="table-footer-wrapper">
                            <div></div>
                            <div>
                                <ul>
                                    @for (int i = 1; i <= Model.PageData.TotalPages; i++)
                                    {
                                        var current = i == Model.PageData.Page ? "current" : string.Empty;
                                        <li><a href="?pendingrequestpage=@i" class="@current">@i</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>