@model Product.Presenters.Widgets.LowQuantityProducts.ViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="widget">
    <strong>@Localizer["Low Quantity Products"]</strong>
    <div>
        <table id="low-quantity-products-list" class="grid">
            <thead>
                <tr>
                    <th>@Localizer["Name"]</th>
                    <th>@Localizer["Store"]</th>
                    <th>@Localizer["Quantity"]</th>
                    <th>@Localizer["Low Quantity"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td><a asp-controller="product" asp-action="edit" asp-route-id="@product.Id">@product.Name</a></td>
                        <td>@product.StoreName</td>
                        <td class="text-alert">@product.Quantity</td>
                        <td>@product.LowQuantity</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <div class="table-footer-wrapper">
                            <div></div>
                            <div>
                                <ul>
                                    @for (int i = 1; i <= Model.PageData.TotalPages; i++)
                                    {
                                        var current = i == Model.PageData.Page ? "current" : string.Empty;
                                        <li><a href="?lowquantitypage=@i" class="@current">@i</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>