@using Microsoft.AspNetCore.Mvc.Localization
@using Administration.Bll
@using Infrastructure.Services.Common;

@inject IViewLocalizer Localizer
@inject IAuthorizationServices AuthorizationServices
@inject ICacheServices CacheServices;

@{
    var modulePrivileges = await AuthorizationServices.GetModulePrivileges();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Sku.Web</title>
    @*<environment names="Development">*@
        <link rel="stylesheet" href="~/lib/tooltipster/dist/css/tooltipster.bundle.min.css">
        <link rel="stylesheet" href="~/lib/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min.css">
        @*<link rel="stylesheet" href="~/css/font-awesome.min.css">*@
        <link rel="stylesheet" href="~/lib/vex/css/vex.css">
        <link rel="stylesheet" href="~/lib/vex/css/vex-theme-plain.css">
        <link rel="stylesheet" href="~/lib/autocomplete/auto-complete.css">
        <link rel="stylesheet" href="~/lib/flatpickr/flatpickr.min.css">
        <link rel="stylesheet" href="~/lib/izimodal/css/iziModal.min.css">

        @*<link rel="stylesheet" type="text/css" href="~/lib/datatables/css/jquery.dataTables.min.css">*@
    @*</environment>*@
    <link rel="stylesheet" href="~/css/site.css">

    <script src="~/lib/fontawesome/fontawesome-all.min.js"></script>
</head>
<body data-delete-confirm-message="@Localizer["Are you sure you want to delete this entity?"]" data-clear-form-confirm-message="@Localizer["Are you sure you want to clear the form?"]" data-yes="@Localizer["Yes"]" data-no="@Localizer["No"]">

    <header>
        <div>
            <div>
                <h1>@(CacheServices.Get<string>("organization_name"))</h1>
                <h3>склад</h3>
            </div>
            <div>
                <div id="header-top-container">
                    <div>
                        <form method="post" data-url="@Url.Action("index", "globalsearch")" data-content-server-url="@Url.Action("index", "contentserver", new { Area = string.Empty })" data-manufacturer-url="@Url.Action("edit", "manufacturer", new { id = "" })" data-legal-client-url="@Url.Action("legal", "client", new { id = "" })" data-natural-client-url="@Url.Action("natural", "client", new { id = "" })" data-product-url="@Url.Action("edit", "product", new { id = "" })">
                            <input type="text" id="header-search-input" class="form-control" autocomplete="off">
                            <a><i class="fa fa-search" aria-hidden="true"></i></a>
                            <div id="search-results"></div>
                        </form>
                    </div>
                    <div>
                        <ul id="header-user-container">
                            <li><a asp-controller="administration" asp-action="useredit" asp-route-id="@(CacheServices.Get<string>("user_id"))">@(CacheServices.Get<string>("user_name"))</a></li>
                            <li id="notifications-container">
                                <a href="" data-open="false">(0)</a>
                                <div id="notifications-menu">
                                    <ul><li class="info"><i class="fa fa-info" aria-hidden="true"></i> No notifications</li></ul>
                                </div>
                            </li>
                            <li><a href="/logout">@Localizer["Logout"]</a></li>
                        </ul>
                    </div>
                </div>
                <ul id="header-module-select-menu">
                    <li><a asp-controller="administration" asp-action="index">@Localizer["Home"]</a></li>
                    <li><a asp-controller="administration" asp-action="users">@Localizer["Users"]</a></li>
                    <li><a asp-controller="config" asp-action="index">@Localizer["Options"]</a></li>
                </ul>
            </div>
        </div>
    </header>

    <nav>
        <ul id="main-menu-toggle-container">
            <li><a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
        </ul>
        <ul id="main-menu-container">
            @if (modulePrivileges.StoreRead)
            {
                <li>
                    <a asp-controller="store" asp-action="index">
                        <i class="fas fa-home"></i>
                        @Localizer["Stores"]
                    </a>
                </li>
            }
            @if (modulePrivileges.ManufacturerRead)
            {
                <li>
                    <a asp-controller="manufacturer" asp-action="index">
                        <i class="fas fa-cogs"></i>
                        @Localizer["Manufacturers"]
                    </a>
                </li>
            }
            @if (modulePrivileges.SupplierRead)
            {
                <li>
                    <a asp-controller="supplier" asp-action="index">
                        <i class="fas fa-truck"></i>
                        @Localizer["Suppliers"]
                    </a>
                </li>
            }
            @if (modulePrivileges.ProductRead)
            {
                <li>
                    <a asp-controller="product" asp-action="index">
                        <i class="fas fa-wrench"></i>
                        @Localizer["Producuts"]
                    </a>
                </li>
            }
            @*<li>
            <a href="#">
                <i class="fas fa-users"></i>
                Оператори
            </a>
        </li>*@
            @if (modulePrivileges.ClientRead)
            {
                <li>
                    <a asp-controller="client" asp-action="index">
                        <i class="fas fa-user-plus"></i>
                        @Localizer["Clients"]
                    </a>
                </li>
            }
            @*<li>
            <a href="#">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                @Localizer["Incoming"]
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa fa-eur" aria-hidden="true"></i>
                @Localizer["Sales"]
            </a>
        </li>*@

            @*<li>
            <a href="#">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                Настройки
            </a>
        </li>*@
            @if (modulePrivileges.RequestRead)
            {
                <li>
                    <a asp-controller="request" asp-action="index">
                        <i class="fas fa-shipping-fast"></i>
                        @Localizer["Requests"]
                    </a>
                </li>
            }

            @if (modulePrivileges.InvoiceRead)
            {
                <li>
                    <a asp-controller="document" asp-action="index">
                        <i class="fas fa-file-alt"></i>
                        Documents
                    </a>
                </li>
            }
        </ul>
    </nav>

    <main>
        @RenderBody()
    </main>

    <footer>@RenderSection("footer", required: false)</footer>

    @if (TempData["Notify"] != null && (bool)TempData["Notify"])
    {
        <div class="hidden" id="notify-messages-container" data-style="@(TempData["NotifyStyle"] != null ? TempData["NotifyStyle"] : "success")">
            <ul>
                @foreach (var message in (string[])TempData["Messages"])
                {
                    <li>@message</li>
                }
            </ul>
        </div>
    }

    @*<environment names="Development">*@
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
        @*<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>*@
        <script src="~/lib/vex/js/vex.combined.min.js"></script>
        <script src="~/lib/notify/notify.min.js"></script>
        <script src="~/lib/autocomplete/auto-complete.min.js"></script>
        <script src="~/lib/flatpickr/flatpickr.min.js"></script>
        <script src="~/lib/izimodal/js/iziModal.min.js"></script>

        @RenderSection("scripts", required: false)

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/search.js" asp-append-version="true"></script>
    @*</environment>*@

</body>
</html>
