@model Administration.Presenters.Dtos.IndexViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@using Administration.Bll

@inject IViewLocalizer Localizer
@inject IAuthorizationServices AuthorizationServices

@{
    ViewData["Title"] = "Administration index";
    var modulePrivileges = await AuthorizationServices.GetModulePrivileges();
}

<section id="home-page-section">
    
    @if (Model.Notifications.Count() > 0)
    {
        <div class="low-quantity-products-alert">
            <h4>Low Quantity</h4>
            <ul>
                @foreach (var notification in Model.Notifications)
                {
                    <li>
                        @if (notification.HasUrl)
                        {
                            <a asp-controller="@notification.Controller" asp-action="@notification.Action" asp-route-id="@notification.Id">@notification.Text</a>
                        }
                        else
                        {
                            @notification.Text
                        }
                    </li>
                }
            </ul>
        </div>
    }

    <div>
        <ul id="module-select-menu">
            @if (modulePrivileges.StoreRead)
            {
                <li>
                    <a asp-controller="store" asp-action="index">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Складове
                    </a>
                </li>
            }

            @if (modulePrivileges.SupplierRead)
            {
                <li>
                    <a asp-controller="manufacturer" asp-action="index">
                        <i class="fa fa-gears" aria-hidden="true"></i>
                        Производители
                    </a>
                </li>
            }

            @if (modulePrivileges.SupplierRead)
            {
                <li>
                    <a asp-controller="supplier" asp-action="index">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                        Доставчици
                    </a>
                </li>
            }

            @if (modulePrivileges.ProductRead)
            {
                <li>
                    <a asp-controller="product" asp-action="index">
                        <i class="fa fa-wrench" aria-hidden="true"></i>
                        Продукти
                    </a>
                </li>
            }
            @*<li>
                    <a href="#">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        Оператори
                    </a>
                </li>*@

            @if (modulePrivileges.ClientRead)
            {
                <li>
                    <a asp-controller="client" asp-action="index">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        Клиенти
                    </a>
                </li>
            }

            @if (modulePrivileges.IncomeRead)
            {
                <li>
                    <a href="#">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        Приемане
                    </a>
                </li>
            }

            @if (modulePrivileges.SaleRead)
            {
                <li>
                    <a href="#">
                        <i class="fa fa-eur" aria-hidden="true"></i>
                        Продажби
                    </a>
                </li>
            }
            @*<li>
                    <a href="#">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                        Настройки
                    </a>
                </li>*@

            @if (modulePrivileges.InvoiceRead)
            {
                <li>
                    <a asp-controller="document" asp-action="index">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                        Документи
                    </a>
                </li>
            }
        </ul>
    </div>

    <div>
        <ol id="todo-list">
            <li class="priority">Продуктите да имате цена с ДДС</li>
            <li>В търсене на продукти да се добави търсене по склад</li>
            <li>В продуктите да има задаване на приоритет</li>
            <li>Нов модул - ръчна заявка, бутон за заявка със свободен текст
                <ul>
                    <li class="priority">Възможност за ръчна заявка на продукти</li>
                    <li>При заявка ако се поръчат 10 а има само 5 останалите 5 да се вижда че все още се искат</li>
                    <li>При заявка на приоритетен продукт да се праща мейл - ioana.lambreva@gmail.com</li>
                </ul>
            </li>
            <li>МК Груп ЕООД -> МК-ГРУП БЪЛГАРИЯ ООД</li>
            <li>В модул документи да има създаване на стокова разписка и фактура и да се избират продукти и да се вадят автоматично количества</li>
            <li class="priority">Синхронизация с svetlini.bg</li>
            <li>На началната страница да излизат последните 10 продукти</li>
            <li class="done">Кода на продукт с минимална дължина от 2 символа</li>
            <li class="done">Да няма задължителни полета при търсене на продукт</li>
        </ol>
    </div>
</section>