@model Administration.Presenters.Dtos.IndexViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@using Administration.Bll

@inject IViewLocalizer Localizer
@inject IAuthorizationServices AuthorizationServices
@inject IWidgetProvider WidgetProvider

@{
    ViewData["Title"] = "Administration index";
    var modulePrivileges = await AuthorizationServices.GetModulePrivileges();
}

<section id="home-page-section">
    
    @if (Model.Notifications.Count() > 0)
    {
        <div class="low-quantity-products-alert">
            <h4>Low Quantity</h4>
            <ul>
                @foreach (var notification in Model.Notifications)
                {
                    <li>
                        @if (notification.HasUrl)
                        {
                            <a asp-controller="@notification.Controller" asp-action="@notification.Action" asp-route-id="@notification.Id">@notification.Text</a>
                        }
                        else
                        {
                            @notification.Text
                        }
                    </li>
                }
            </ul>
        </div>
    }

    <div>
        <ul id="module-select-menu">
            @if (modulePrivileges.StoreRead)
            {
                <li>
                    <a asp-controller="store" asp-action="index">
                        <span><i class="fas fa-home fa-3x"></i></span>
                        <span>Складове</span>
                    </a>
                </li>
            }

            @if (modulePrivileges.SupplierRead)
            {
                <li>
                    <a asp-controller="manufacturer" asp-action="index">
                        <span><i class="fas fa-cogs fa-3x"></i></span>
                        <span>Производители</span>
                    </a>
                </li>
            }

            @if (modulePrivileges.SupplierRead)
            {
                <li>
                    <a asp-controller="supplier" asp-action="index">
                        <span><i class="fas fa-truck fa-3x"></i></span>
                        <span>Доставчици</span>
                    </a>
                </li>
            }

            @if (modulePrivileges.ProductRead)
            {
                <li>
                    <a asp-controller="product" asp-action="index">
                        <span><i class="fas fa-wrench fa-3x"></i></span>
                        <span>Продукти</span>
                    </a>
                </li>
            }
            @*<li>
                <a href="#">
                    <i class="fas fa-users fa-3x"></i>
                    Оператори
                </a>
            </li>*@

            @if (modulePrivileges.ClientRead)
            {
                <li>
                    <a asp-controller="client" asp-action="index">
                        <span><i class="fas fa-user-plus fa-3x"></i></span>
                        <span>Клиенти</span>
                    </a>
                </li>
            }

            @if (modulePrivileges.IncomeRead)
            {
                <li>
                    <a href="#">
                        <span><i class="fas fa-sign-in-alt fa-3x"></i></span>
                        <span>Приемане</span>
                    </a>
                </li>
            }

            @if (modulePrivileges.SaleRead)
            {
                <li>
                    <a href="#">
                        <span><i class="fas fa-euro-sign fa-3x"></i></span>
                        <span>Продажби</span>
                    </a>
                </li>
            }
            @*<li>
                    <a href="#">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                        Настройки
                    </a>
                </li>*@

            @if (modulePrivileges.RequestRead)
            {
                <li>
                    <a asp-controller="request" asp-action="index">
                        <span><i class="fas fa-shipping-fast fa-3x"></i></span>
                        <span>Заявки</span>
                    </a>
                </li>
            }

            @if (modulePrivileges.InvoiceRead)
            {
                <li>
                    <a asp-controller="document" asp-action="index">
                        <span><i class="fas fa-file-alt fa-3x"></i></span>
                        <span>Документи</span>
                    </a>
                </li>
            }
        </ul>
    </div>

    <div id="home-widgets">
        @await WidgetProvider.Get("PendingRequests", Component, new { page = Context.Request.Query["pendingrequestpage"].FirstOrDefault(), limit = 10 })
        @await WidgetProvider.Get("LowQuantityProducts", Component, new { page = Context.Request.Query["lowquantitypage"].FirstOrDefault(), limit = 10 })
        @await WidgetProvider.Get("Todos", Component)
        @await WidgetProvider.Get("LatestProducts", Component, new { page = Context.Request.Query["latestpage"].FirstOrDefault(), limit = 10 })
    </div>

</section>