@model Client.Presenters.Dtos.IndexViewModel

@{
    ViewData["Title"] = "clients list";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@Html.Partial("_MenuPartial")

<section id="module-content">

    @*@await Component.InvokeAsync("Breadcrumb", new { controller = "Client" })*@

    <div id="search-criteria">
        <div>
            <h2>@Localizer["Client Search"]</h2>
        </div>
        <div>
            <form method="post" asp-controller="client" asp-action="index">
                <div>
                    <label asp-for="SearchCriteria.MolName">@Localizer["Mol"] / @Localizer["Name"]</label>
                    <input asp-for="SearchCriteria.MolName">
                </div>
                <div>
                    <label asp-for="SearchCriteria.FirmaNamePersonlNo">@Localizer["Firm name"] / @Localizer["PersonalNo"]</label>
                    <input asp-for="SearchCriteria.FirmaNamePersonlNo">
                </div>
                <div>
                    <label asp-for="SearchCriteria.CityId">@Localizer["City"]</label>
                    <select asp-for="SearchCriteria.CityId" asp-items="Model.SearchCriteria.Cities" data-notify-skip="true"></select>
                </div>
                <div>
                    <label asp-for="SearchCriteria.Address">@Localizer["Address"]</label>
                    <input asp-for="SearchCriteria.Address">
                </div>
                <div>
                    <label asp-for="SearchCriteria.Phone">@Localizer["Phone"]</label>
                    <input asp-for="SearchCriteria.Phone">
                </div>
                <div>
                    <label asp-for="SearchCriteria.Email">@Localizer["Email"]</label>
                    <input asp-for="SearchCriteria.Email">
                </div>
                <input type="submit">
            </form>
        </div>
        <div id="search-criteria-actions">
            <a asp-controller="client" asp-action="index"><i class="fa fa-close" aria-hidden="true"></i> @Localizer["Clear"]</a>
            <a class="action-primary action-submit"><i class="fa fa-search" aria-hidden="true"></i> @Localizer["Search"]</a>
        </div>
    </div>

    <div id="search-result">
        <div>
            <h2>@Localizer["Clients"]</h2>
        </div>
        <table id="search-result-table">
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>@Localizer["Mol"] / @Localizer["Name"]</th>
                    <th>@Localizer["Type"]</th>
                    <th>@Localizer["Firm name"] / @Localizer["PersonalNo"]</th>
                    <th>@Localizer["City"]</th>
                    <th>@Localizer["Address"]</th>
                    <th>@Localizer["Phone"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var client in Model.Clients)
                {
                    if (client.Type == Client.Entities.ClientType.Legal)
                    {
                        var legal = client as Client.Entities.LegalClient;
                        <tr>
                            <td><input type="checkbox" data-store-id="@client.Id"></td>
                            <td><a asp-area="sku" asp-controller="client" asp-action="editlegal" asp-route-id="@client.Id">@legal.Mol</a></td>
                            <td><a class="tooltip" title="@Localizer["Legal person"]"><i class="fa fa-gavel" aria-hidden="true"></i></a></td>
                            <td>@legal.FirmName</td>
                            <td>@client.City.Name</td>
                            <td>@client.Address</td>
                            <td>@client.Phone</td>
                        </tr>
                    }
                    else
                    {
                        var natural = client as Client.Entities.NaturalClient;
                        <tr>
                            <td><input type="checkbox" data-store-id="@client.Id"></td>
                            <td><a asp-area="sku" asp-controller="client" asp-action="editnatural" asp-route-id="@client.Id">@natural.Name</a></td>
                            <td><a class="tooltip" title="@Localizer["Natural person"]"><i class="fa fa-user" aria-hidden="true"></i></a></td>
                            <td>@natural.PersonalNo</td>
                            <td>@client.City.Name</td>
                            <td>@client.Address</td>
                            <td>@client.Phone</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</section>