@model Manufacturer.Presenters.Dtos.EditViewModel
@{
    ViewData["Title"] = "Edit Manufacturer";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@Html.Partial("_MenuPartial")

<section id="module-content">

    @*@await Component.InvokeAsync("Breadcrumb", new { controller = "Manufacturer", id = Model.Id })*@

    <div asp-validation-summary="All"></div>

    @Html.Partial("_StatusPartial")

    <div class="content-box"> 
        <form method="post" asp-controller="manufacturer" asp-action="edit" class="main-form">
            <div class="form-split">
                <div class="padding-right">
                    <label asp-for="Name">@Localizer["Name"]</label>
                    <input asp-for="Name" class="form-control">

                    <label asp-for="CountryId">@Localizer["Country"]</label>
                    <select asp-for="CountryId" asp-items="Model.Countries" class="form-control"></select>
                    
                    <label asp-for="Email">@Localizer["Email"]</label>
                    <input asp-for="Email" class="form-control">
                    
                    <label asp-for="Url">@Localizer["Url"]:</label>
                    <input asp-for="Url" class="form-control">
                </div>
                <div>
                    <label asp-for="Comment">@Localizer["Comment"]</label>
                    <input asp-for="Comment" class="form-control">
                </div>
            </div>
            <input asp-for="Id">
            <input type="submit" class="hidden">
            <input type="reset" class="hidden">
        </form>
    </div>

</section>

@section footer {
    @await Component.InvokeAsync("FooterActions", new { controller = "Manufacturer", id = Model.Id })
}